<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title>Create Your Own QRCode</title>
</head>
<body>
<div class="page-header">
        <div class="col-md-offset-1">
            <h1>Create Your QRCode!</h1>
    </div>
</div>

<div class="container" >
    <div class="row col-md-7">
        <label for="url">Url or Text:</label>
<form action="" method=post enctype=multipart/form-data>
    <input type="text" class="form-control form-block" id="url" name="url" placeholder="Type your URL or Text Here">
            <label for="file">File:</label>

      <p><input type=file class="btn btn-default" id='file' name=file ><br/>
         <input type=submit class="btn btn-default" value="Create QRCode!">
<input type="checkbox" name="newversion" id="newversion" value=""> Newversion
    </form>
       </div>
    </div>


</body>

</html>